<ol class="breadcrumb">
    <li><a href="#">Vault Administration</a></li>
    <li class="active><a href="#">Create Vault</a></li>
</ol>
<div class="col-md-2"></div>
<div class="col-md-8">
    <form class="form-horizontal" name="createVaultForm" ng-submit="createVault(createVaultForm.$valid)" novalidate>
        <fieldset style="margin-top: 10% ">

             <!-- Vault Name-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="vault_Name">Account Name</label>
                <div class="col-md-4">
                    <input id="vault_Name"  type="text" placeholder="" class="form-control input-md" ng-model="vault.accountName" required>
                </div>
            </div>      
            
            
             <!-- Vault Type -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="vaultType">Account Type</label>
                <div class="col-md-4">
                    <select id="vaultType" name="vaultType" class="form-control" ng-model="vault.type" required
                            ng-options="vaultType.vaultName as vaultType.vaultName for vaultType in vaultTypes">
                    </select>
                </div>
            </div>


			  <!-- secret key-->
            <div class="form-group" ng-show="vault.type == vaultTypes[0].vaultName">
                <label class="col-md-4 control-label" for="secret_Key">Secret key</label>
                <div class="col-md-4">
                    <input id="secret_Key" type="text" placeholder="" class="form-control input-md" ng-model="vault.secretKey">
                </div>
            </div>
            
            <!-- Access key-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="access_Key">Access key</label>
                <div class="col-md-4">
                    <input id="access_Key" type="text" placeholder="" class="form-control input-md" ng-model="vault.accessKey" required>
                </div>
            </div> 
            
            <!-- Container Name-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="container_name">Container Name</label>
                <div class="col-md-4">
                    <input id="container_name" type="text" placeholder="" class="form-control input-md" ng-model="vault.container" required>
                </div>
            </div> 


            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 col-lg-4 control-label" for="tape_submit"></label>
                <div class="col-md-2 col-lg-2 ">
                    <button id="tape_submit" name="vtl_submit" class="btn btn-primary" ng-disabled="createVaultForm.$invalid">Submit</button>
                </div>
                <div class="col-md-2 col-lg-2 ">
                    <button id="tape_submit" name="vtl_submit" class="btn btn-primary">Cancel</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>