<div class="row  maxHeight">
	<div class="col-sm-12">
		<table st-table="displayedCollection" st-safe-src="alertCollection"
			class="table table-striped">
			<thead>
				<tr>
					<th st-sort="title">Alert</th>
					<th st-sort="type">Type</th>
					<th st-sort="severity">Severity</th>
					<th st-sort="timp_stmp">Appeared On</th>
					<th st-sort="status">Status</th>
					<th>More Info</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in displayedCollection">
					<td style="background-color: #E1F3FB;">{{row.title}}</td>
					<td>{{row.type}}</td>


					<td>
						<div ng-if="row.severity == 'Critical'">
							<div style="color: #E40000; float: left;">
								<i class="glyphicon glyphicon-exclamation-sign"> </i>
							</div>
							&nbsp;{{row.severity}}


						</div>

						<div ng-if="row.severity == 'Warning'">
							<div style="color: #FF8C00; float: left;">
								<i class="glyphicon glyphicon-warning-sign"> </i>
							</div>
							&nbsp;{{row.severity}}

						</div>

					</td>


					<td>{{ row.time_stamp | date:'medium' }}</td>

					<td>
						<div ng-if="row.status == 'Active'">
							<button type="button" class="btn btn-primary"
								ng-click="showConfirmation(row)">Active</button>
						</div>

						<div ng-if="row.status == 'Close'">
							<button type="button" class="btn btn-default" ng-disabled="true">Close</button>
						</div>

					</td>

					<td>
						<button type="button" class="btn btn-sm btn-primary"
							ng-click="showDetails(row)">
							<i class="glyphicon glyphicon-info-sign"> </i>
						</button>
					</td>

				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" class="text-center">
						<div st-pagination="" st-items-by-page="itemsByPage"
							st-displayed-pages="5"></div>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<div class="modal fade" id="alertModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog custom-class">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Alert Details</h4>

			</div>
			<div class="modal-body">



				<td>
					<div ng-if="details.severity == 'Critical'"
						style="font-weight: bold; font-size: 18px;">
						<div style="color: #FF8C00; float: left;">
							<i class="glyphicon glyphicon-exclamation-sign"> </i>
						</div>
						&nbsp; &nbsp; &nbsp; &nbsp; {{details.title}}

					</div>


					<div ng-if="details.severity == 'Warning'"
						style="font-weight: bold; font-size: 18px;">
						<div style="color: #FF8C00; float: left;">
							<i class="glyphicon glyphicon-warning-sign"> </i>
						</div>
						&nbsp; &nbsp; &nbsp; &nbsp; {{details.title}}

					</div>

				</td>



				<table class="table">

					<tbody>
						<tr>
							<td>Error code</td>
							<td>{{code}}</td>
						</tr>

						<tr>
							<td>Status</td>
							<td>{{details.status}}</td>
						</tr>

						<tr>
							<td>Appeared On</td>
							<td>{{details.time_stamp | date:'medium'}}</td>
						</tr>

						<tr>
							<td>Detail Message</td>
							<td>{{details.detail_message}}</td>
						</tr>


						<tr>
							<td>Recommendation</td>
							<td style="text-align: justify">{{recommendation}}</td>
						</tr>

					</tbody>
				</table>
			</div>

			<div class="modal-footer">
				<button id="tape_submit" name="policy_submit"
					class="btn btn-primary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>



<!-- confirm modal to close alert -->
<div id="closeAlert" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- dialog body -->
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				Are you sure want to Close Alert ?
			</div>
			<!-- dialog buttons -->

			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
					ng-click="closeAlert()" data-dismiss="modal">OK</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
			</div>

		</div>
	</div>
</div>
